@font-face {
  font-family: "iconfont"; /* Project id 4329020 */
  src: url('iconfont.woff2?t=1700186363305') format('woff2'),
       url('iconfont.woff?t=1700186363305') format('woff'),
       url('iconfont.ttf?t=1700186363305') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lingdang:before {
  content: "\e600";
}

.icon-jinggao:before {
  content: "\eb65";
}

.icon-Magnifier:before {
  content: "\e62d";
}

.icon-xitongguanli-:before {
  content: "\e617";
}

.icon-tuichudenglu:before {
  content: "\e60b";
}

.icon-align-right:before {
  content: "\e60c";
}

.icon-zhanghao:before {
  content: "\e66d";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-suo:before {
  content: "\e636";
}

.icon-fangzi:before {
  content: "\e61e";
}

